{%extends 'base.html'%}

{%block title%}Welcome! to UoH Online Voting System {%endblock title%}

{%block body%}

    <form>

        <center>
            <h1 class="my-5">Welcome to UoH Elective Registration System</h1>
        </center>

      <div class="mb-3 mx-auto" style="width: 200px;">
        <label for="exampleInputEmail1" class="form-label">Registration No.</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3 mx-auto" style="width: 200px;">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <center>
          <button type="submit" class="btn btn-primary mx-auto">Log In</button>
      </center>

        <center>
            <a href="/register"><h5 class="my-5">Don't have an account? Register</h5></a>
        </center>
    </form>

{%endblock body%}